# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
node_modules/
# Logs
*.log

# Variáveis de ambiente
.env

# IDEs e sistema
.DS_Store
.vscode/
